#header{
    height: 32px;
    background: #a9180a;
    border: 1px solid #a9180a;
}
.header-login,.header-user{
    height: 32px;
    line-height: 32px;
}
.header-login span,.header-login a,.header-user a{
    color: #fff;
    font-size: 12px;
}
.header-login a,.header-user a{
    text-decoration: none;
    padding: 0 10px 0 20px;
}
.header-user{

    float: right;
}

.header-login{
    float: left;
}
.header-user > li{
    float: left;
}
}
.list-arrow{
    position: relative;
}
.sub-list{
    position: absolute;
    left: 0px;
    top: 32px;  
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}
.sub-list-tb{
    width: 90px;
    line-height: 20px;
}
.sub-list >li > a{
    color: #999;
    padding-left: 10px;
}
.list-arrow:hover .sub-list{
    display: block;
}
.list-arrow:hover{
    background: #fff;
}
.list-arrow:hover > a{
    color: #ff0036;
    text-decoration: underline;
}
.sub-list:hovƒer{
    text-decoration: underline;
}
.list-arrow:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25% ; 
}
.mycar{
    font-size: 12px;
}
.logo{
    width: 240px;
    height: 130px;
}
.logo{
    float: left;
}
.logo-box{
    overflow: hidden;
}
.search{
    float: left;
    margin: 48px 38px;
    overflow: hidden;
}
.searchbox{
    width: 623px;
    height: 36px;
    border: 2px solid #ff0036;
}
.search-content{
    width: 491px;
    height: 36px;
    border:none;
    /* 输入框 选中样式   */
    outline: none;
    text-indent: 5px;
    float: left;
}
.search-btn{
    width: 132px;
    height: 36px;
    background: #ff0036;
    border: none;
    font-size: 18px;
    font-weight: 700;   
    color: #fff;
    letter-spacing: 5px;
    float: left;
}
.search-list li{
    float: left;
    margin-top: 3px;
    padding: 0  12px;  
    position: relative;
    left: -13px;

}
.search-list li::after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 0 ;
    top: 4px;
    background: #999;
}
.search-list li a{
    color:#999;
    font-size: 14px;
}
.search-list li.list-hot a{
    color:#ff0036;
}
.nav li{
    float: left;
}
.nav img{
    width: 100px;
    height: 30px;
    margin-top: 1.5px;
}
.nav a{
    color: #333;
    font-size: 16px;
    font-weight: 500;
    display: block;
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
}
.nav{
    padding-left: 200px;
    width: 1030px;
    overflow: hidden;
}
.slider-box{
    height: 500px;
    background: red;
}
.slider-box .wrapper{
    height: 500px;
    background: #0000ff;
    position: relative;
}
.menu-box{
    position: absolute;
    top:-35px;
    left:0px;
    /* background: #00ff00; */
    background: rgba(0,0,0,0.55);
    width: 200px;
    height: 535px;
}
.img-box img{
    width: 1230px;
}








